h1{ 
    color: tomato;
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0px 20px;
    text-align: left;
}

#Pomodortimer{
    font-family: system-ui;
    color: black;
    display: inline-block;
    font-weight: 200;
    text-align: center;
    font-size: 45px;
  }
  
  #Pomodortimer{
    font-family: system-ui;
    color: black;
    display: inline-block ;
    font-weight: 200;
    text-align: center;
    font-size: 45px;
  }
  
  #Pomodortimer > div{
    padding: 15px;
    border-radius: 3px;
    background: yellow;
    display: inline-block;
    text-align: center;
  }
  
  #Pomodorotimer div > span{
    padding: 20px;
    border-radius: 3px;
    background:yellow;
    display: inline-block;
    text-align: center;
  }
  
  .inside{
    padding-top: 5px;
    font-size: 20px;
  }

  h2{
    color: tomato;
    font-weight: 50;
    font-size: 20px;
    margin: 40px 0px 20px;
    text-align: left;
  }
  form label {
    display: inline-block;
    width: 60px;
    padding: 15px;
    border-radius: 3px;
    background: yellow;
    display: inline-block;
    text-align: center;
  }
  
  form div {
    margin-bottom: 30px;
  }
  
   


